<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>darkthemeuid</key>
	<string>theme.custom.775625E7-57D6-4420-90BE-4F09A89B5B78</string>
	<key>lightthemeuid</key>
	<string>theme.fileimport.00743509-4776-4EBF-9E6A-27A5AB9666FA</string>
</dict>
</plist>
